notes.txt
__pycache__/
*.py[cod]
.DS_Store
venv/
db-backup.dump
aws-elastic-beanstalk-cli-setup
backend/logs/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
